<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/wassup.css"/>
  </head>
  <body>
    <header class="row">
      <div class="col-xs-12">
        <form method="post" action="/logout">
          <button type="submit" class="btn btn-primary pull-right btn-logout">Logout</button>
        </form>
      </div>

      <img class="logo col-sm-4 col-xs-12" src="/static/wassup_logo.png"/>

      <div class="col-sm-8 col-xs-12">
        <div class="pull-right">
            <input type="radio" id="private-server" name="server" value="private" checked>
            <label for="private-server" class="btn-server btn-lg" data-type="private">
              Private Server
            </label>
            <input type="radio" id="public-server" name="server" value="public">
            <label for="public-server" class="btn-server btn-lg" data-type="public">
              Public Server
            </label>
        </div>
      </div>
    </header>

    <section class="main-container row">
      <div class="friends-container col-sm-4 col-xs-12">
        <h3>Friends</h3>
        <div class="form-group form-inline">
          <input type="text" class="form-control new-friend-input">
          <button type="button" class="btn btn-primary btn-add-friend">Add</button>
        </div>
        <ul class="friends-list">
        </ul>
        <button type="button" class="btn btn-primary btn-lg btn-send-sup">Send Sup!</button>
      </div>

      <div class="chat-area col-sm-8 col-xs-12">
        <div class="sup-sender-info clearfix">
          From <span class="friend-name"></span>
          <!-- <span class="friend-id"></span> -->
          on
          <span class="sup-date"></span>:
          <button class="btn btn-primary btn-reload-sups pull-right">
            <i class="glyphicon glyphicon-refresh"></i>
            Refresh
          </button>
        </div>

        <hr>

        <div class="canvas-wrapper clearfix row">
          <div class="sup-nav col-xs-2" data-dir="prev">Previous</div>
          <div class="canvas-container">
            <div class="btn-remove-sup">
              <i class="glyphicon glyphicon-trash"></i>
              Delete Sup
            </div>
            <canvas class="sup-canvas col-xs-8" height="440">
            </canvas>
          </div>
          <div class="sup-nav col-xs-2" data-dir="next">Next</div>
        </div>

        <hr>

        <div class="sup-controls">
          Showing <span class="current-sup"></span> of <span class="number-of-sups"></span> Sups
          <button class="btn btn-secondary btn-clear-sups">
            <i class="glyphicon glyphicon-remove-circle"></i>
            Clear Sups
          </button>
        </div>
      </div>

    </section>

    <template id="template-single-friend">
      <input type="checkbox" id="" class="sr-only">
      <label for="">
        <span class="friend-name"></span>
        <span class="friend-id"></span>
        <span class="btn-delete btn-delete-friend">&times;</span>
      </label>
    </template>
  </body>
  <script src="static/js/ext/underscore.js"></script>
  <script src="static/js/ext/jquery-1.11.2.min.js"></script>
  <script src="static/js/ext/bootstrap.js"></script>
  <script type="text/javascript" src="/static/js/wassup.js"></script>
  <script type="text/javascript" src="/static/js/friends.js"></script>
  <script type="text/javascript" src="/static/js/sups.js"></script>
</html>
