@import 'reset.less';
@import 'utilities.less';
@import 'icons.less';
@import 'colors.less';

/*** VARIABLES ***/

@mobile: ~"all and (max-width: 630px)";
@tablet: ~"all and (max-width: 759px)";
@desktop: ~"all and (min-width: 760px)";

/*** STYLES ***/

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

html,
body {
  padding: 10px;
  font-family: 'Montserrat';
  font-size: 16px;
  color: @color-tertiary-4;
  background: lighten(@light-gray, 5%);
}

/*** Typography and Icons ***/

h1 {
  font-size: 2.5em;
  line-height: 1.5em;

  @media @tablet {
    font-size: 1.5em;
  }
}

h2 {
  font-size: 1.2em;
  line-height: 1.2em;
}

/*** Buggui Stuff ***/

.canvas {
  border: 1px solid @dark-gray;
}