// @import 'reset.less';
// @import 'utilities.less';
// @import 'icons.less';

@import '../bootstrap/less/bootstrap.less';
@import 'bootstrap-overrides.less';
@import 'colors.less';

/*** VARIABLES ***/

@mobile: ~"all and (max-width: 630px)";
@tablet: ~"all and (max-width: 759px)";
@desktop: ~"all and (min-width: 760px)";

@body-color: @color-tertiary-4;

/*** STYLES ***/

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

html,
body {
  margin: 0 auto;
  padding: 10px;
  font-family: 'Montserrat';
  font-size: 16px;
  color: @body-color;
  max-width: 1000px;
}

li {
  list-style: none;
}

.btn-delete {
  cursor: pointer;
  color: red;

  &:hover {
  }
}

/* Header */
.btn-server {
  background: @light-gray;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 20px 0;
  cursor: pointer;

  &:hover {
    background: @middle-gray;
  }
}

input[name="server"] {
  display: none;
}

input[name="server"]:checked + .btn-server {
  background: @brand-secondary-dark;
  color: @white;
}



/* Friends List */

.friends-list {
  padding: 0;
  min-height: 1.5em;
  max-height: 280px;
  overflow: scroll;
  border: 1px solid @light-gray;
}

.single-friend label {
  display: block;
  cursor: pointer;
  padding: 5px 10px;
  margin: 0;

  &:hover {
    background: @light-gray;
  }
}

.single-friend input:checked ~ label {
  background: @middle-gray;
}

.friend-id {
  margin-left: .5em;
  font-style: italic;
  font-size: 0.85em;
  color: lighten(@body-color, 20%);
}

.btn-delete-friend {
  float: right;
}

.btn-send-sup {
  margin: 0 auto;
  position: absolute;
  width: 70%;
  left: 0;
  right: 0;
}

/* Chat Area */
.canvas-container {
  position: relative;
}

.sup-canvas {
  float: left;
  border: 1px solid @white;

  &:hover {
    border: 1px solid @light-gray;
  }
}

.sup-nav {
  float: left;
  line-height: 400px;
  text-align: center;

  &:hover {
    background: @light-gray;
    cursor: pointer;
  }

  &:active {
    background: darken(@light-gray, 20%);
  }
}

.btn-remove-sup {
  position: absolute;
  right: 50px;
  top: 50px;
}


